.buttonContainer {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonClass {
  width: 150px;
  border-radius: 10px;
  outline: none;
}

.buttonContainer input[type="text"] {
  font-size: 18px;
}

